

.lateralbar {
    -fx-background-color: linear-gradient(
            to bottom,
            #c7020c,
            #7d1318
        );
}

.table .column-header {
    -fx-background-color: #c7020c;
    -fx-border-color: #d12b1f;
}

.table .column-header .label {
    -fx-text-fill: white; /* Cor do texto */
    -fx-font-weight: bold; /* Negrito */
    -fx-alignment: center; /* Alinhamento do texto */
}

.buttonRegister {
    -fx-background-color: #a13333;
    -fx-transition: all 0.3s ease; /* Transição de 0.3s */
}

.buttonRegister:hover {
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.buttonList {
    -fx-background-color: #bf3939;
}

.buttonList:hover {
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.buttonEdit{
    -fx-background-color: #c7020c;
}

.buttonEdit:hover {
    -fx-background-color: #8a0108;
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.buttonDelete{
    -fx-background-color: #c7020c;
}


.buttonDelete:hover {
    -fx-background-color: #8a0108;
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.filterPane {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 3px;
}

.buttonFilters {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #d30101;
}

.buttonFilters:hover {
    -fx-background-color: #8a0108;
    -fx-cursor: hand;
}

.buttonResetFilters {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #d30101;
}

.buttonResetFilters:hover {
    -fx-background-color: #8a0108;
    -fx-cursor: hand;
}

.tooltip {
    -fx-font-size: 14px;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
}


