.lateralbar {
    -fx-background-color: linear-gradient(
            to bottom,
            #c7020c,
            #7d1318
        );
}

.table .column-header {
    -fx-background-color: #c7020c;
    -fx-border-color: #d12b1f;
}

.table .column-header .label {
    -fx-text-fill: white; /* Cor do texto */
    -fx-font-weight: bold; /* Negrito */
    -fx-alignment: center; /* Alinhamento do texto */
}

.buttonRegister {
    -fx-background-color: #a13333;
    -fx-transition: all 0.3s ease; /* Transição de 0.3s */
}

.buttonRegister:hover {
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.buttonList {
    -fx-background-color: #bf3939;
}

.buttonList:hover {
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}