.buttonList {
    -fx-background-color: #a13333;
    -fx-transition: all 0.3s ease; /* Transição de 0.3s */
}

.buttonList:hover {
    -fx-scale-x: 1.05; /* Aumenta a escala */
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.buttonRegister {
    -fx-background-color: #bf3939;
}

.buttonRegister:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.buttonAdd {
-fx-background-color: #c7020c;
}

.buttonAdd:hover {
    -fx-background-color: #8a0108;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-cursor: hand;
}